
// _{set4
$super-light-color: #AE9464;
// _}end
// _{set3
$light-color: #55963C;
// _}end
// _{set0
$dark-color: #01121B;
// _}end

window {
  background-color: transparent;
  font-family: "RecMonoLinear Nerd Font Mono";
  font-size: 10;
}

.module {
  background-color: $dark-color;
  color: $super-light-color;
  border: 2px solid $light-color;
  border-radius: 2px;
  padding: 0px 4px;
  margin: 0px 2px;
}

.left {
  background-color: $dark-color;
  border: 2px solid $light-color;
  border-radius: 2px;
  padding: 0px 2px;
  margin: 0px 2px;
}

.active_workspace {
  // margin: 2px 1px;
  padding: 0px 2px;
  color: $super-light-color;
  // border: 1px solid $light-color;
  // border-radius: 2px;
}

.workspace {
  color: $light-color;
  margin: 0px 1px;
}

.inactive_workspace {
  margin: 0px 1px;
  color: $dark-color;
}

