
[main]
font = RecMonoLinear Nerd Font Mono:size=7.5
; line-height = 9

lines = 16
width = 50
tabs = 2
horizontal-pad = 20
vertical-pad = 10
; inner-pad = 4

terminal = "ghostty -e"

icons-enabled = no

prompt = "> "
list-executables-in-path = yes
use-bold = 1

[colors]
text            = colorfgff
background      = colorbgff
input           = colorfgff
match           = colorfgff
selection       = colorfgff
selection-text  = colorbgff
selection-match = colorbgff
prompt          = colorfgff
border          = colorfgff

[border]
width = 4
radius = 6

